
@font-face {
    font-family: geInspira;
    src: url(fonts/GEInspRg.woff);
}

 body {
  font-family: geInspira;
}

.ge-logo{
    height: 40px;
    width:40px;
    background-size: 37px 37px;
    vertical-align: middle;
    float: none;
}

.brand2{
      display: inline;
    padding-left: 0.25em;
}
.navbar-default {
    background-color: #141414;
    color: #FFFFFF;
    height: 60px;
    margin-bottom:0px;
    border-bottom: 0px;
}

.navbar-default .navbar-brand {
    color: #FFFFFF;
    padding-top: 10px;
    }
 .navbar-default .navbar-brand:hover{
    color:#FFFFF1;
 }

 .form-control{
        width: 180px;
    height: 30px;
 }

 .label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 100;
}

#highcharts-0 > svg > text:nth-child(15){
    visibility: hidden;
}

.heading{
    height:40px;   
    font-size:1.3em;
    padding-top: 7px;
}

.green{
    background-color: #DFF0D8;
    color: #3c763d;
}

.red{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.yellow{
        color: #8a6d3b;
    background-color: rgb(255, 238, 149);
    border-color: #E2C72F
}

.concat{
  padding-left: 0px;
  padding-right:0px;
}

.chart-heading{
    width:200px;
    height: 20px;
    background-color: #DFF0D8;
    text-align: center;
    padding-left:5px;
    margin-top: 10px
}

.pane-css{
    padding-left: 0px;
    padding-right: 0px;
}
