<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link href="../css/hdx-timepicker-lights-off.css" rel="stylesheet">
	<script src="../lib/requirejs/require.js"></script>
	<script src="../js/require.config.js"></script>
</head>
<body style="background-color:#1d1d1d;">
<div style="height:600px; margin-left:40px; margin-top:40px;">
	<div class="input-append bootstrap-timepicker">
		<input id="timepicker1" type="text" class="input-small">
		<span class="add-on"><i class="icon-time"></i></span>
	</div>
</div>

<script type="text/javascript" src="init-timepicker-1.js"></script>

</body>
</html>