<style>

.navbar-brand{
  float:none !important;
}
@media screen and (max-width: 500px) and (min-width: 300px) {
.a{
padding-left:0 !important;
}
}
@media screen and (max-width: 500px) and (min-width: 300px) {
#GetTableDataforParameter{
width:100% !important;
}
}

#widthIpad {
  width:100%;
}
@media screen and (min-width: 0px) and (max-width: 650px) {
  #MobileIcons { display: block; }  /* show only Mobile Icons on small screens */
  #IpadIcons { display: none; }  
  #DesktopIcons { display: none; }
  #FullScreen{display:none;}    
  #Heading{font-size:20px !important;}
  #subheading{font-size: 14px !important}
  #L4{
    margin-left: -15% !important;
  }
}
@media screen and (min-width: 0px) and (max-width:768px){
  #ParameterSmall { display: block; }
  }

@media screen and (min-width: 700px) and (max-width:768px){
  #MobileIcons { display: none; } 
  #IpadIcons { display: block; }      /* show only Ipad Icons on medium screens */
  #DesktopIcons { display: none; }  
  #L4{
    padding-left: 15%;
  }
}
.secondary-nav .btn-group button {
    background-color: #2b2b2b;
}

@media screen and (min-width: 769px) and (max-width: 2600px) {
  #MobileIcons { display: none; }
  #IpadIcons { display: none; } 
  #DesktopIcons { display: block; }   /* show only Desktop Icons on large screens */
   #ParameterSmall { display: none; }
   #L4{
    padding-left: 30%;
  }
}
.navbar-header {
   min-height: 40px !important;
}
@font-face {
    font-family: geInspira;
    src: url(fonts/GEInspRg.woff);
} 


</style>

<nav class="navbar navbar-static-top navbar-default" role="navigation">
 
      <div class="container-fluid">
        <div class="navbar-header" style="margin-top:1%;padding-top: 0.4rem">
            <a class="navbar-brand" href=""><!-- <span class="ge-logo"></span>  --><span id="Heading" style="font-size: 22px;">Asset Life Cycle Event Viewer<small id="subheading"><i>powered by</i> Predix</small></span></a>
        </div>
    </div>
 
     <div class="primary-navbar nav-collapse" style="background-color:rgb(65, 65, 65)">
      <div class="container-fluid a">
        <ul class="nav navbar-nav" style="margin-left:0;margin-bottom:0;margin-top:0 !important">
          <li >
            <a ui-sref="Home">Home</a>
          </li>
          <li class="active">
            <a ui-sref="AssetHealthandReliability">Asset Health and Reliability</a>
          </li>
          <li class="dropdown" >
            <a data-toggle="dropdown" data-ng-show="QuickLinksdisplay=='Show'" >Quick Links <i class="icon-chevron-down"></i></a>
            <ul  class="dropdown-menu">
                <li><a ui-sref="ParameterAnalysis">Parameter Analysis</a></li>
                <li><a ui-sref="AssetBenchmarking">Asset Benchmarking</a></li>
                <li><a ui-sref="Biblography">Bibliography Details</a></li>                
            </ul>
          </li>
        </ul>
      </div>
    </div>
 
</nav>

<br>
<div class="container-fluid content" style="font-size:16  px;color:black">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">

      <section class="module sidebar" >

              <div class="module-body">  

                  <div class="row">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                    
                        <div class="col-md-3 col-sm-6 col-xs-12">   
                        <div class="row" style="font-weight:bold"> 
                          Aircraft
                        </div>
                          <div class="row">
                            <div class="ui selection dropdown col-md-10 col-sm-10 col-xs-12" id="Aircraft">
                              <input name="tags" type="hidden">
                              <i class="dropdown icon"></i>
                               
                              <div class="default text">Select</div>
                              <div class="menu" >
                                <div class="item" ng-repeat="options in aircraftData" data-value="{{options.aircraftModelID}}" ng-click="ChangeAircraft(options.aircraftModelID,options.aircraftModel)">{{options.aircraftModel}}</div>                                
                              </div>
                            </div>
                          </div>
                         </div>                        

                        <div class="col-md-3 col-sm-6 col-xs-12">    
                          <div class="row" style="font-weight:bold"> 
                          Airliner
                        </div>
                          <div class="row">
                            <div class="ui selection dropdown col-md-10 col-sm-10 col-xs-12" id="Airliner">
                              <input name="tags" type="hidden">
                              <i class="dropdown icon"></i>
                               
                              <div class="default text">Select</div>
                              <div class="menu" >
                                <div class="item" ng-repeat="options in airlinerData" data-value="{{options.customerID}}" ng-click="ChangeAirliner(options.customerID,options.airline)">{{options.airline}}</div>
                                
                              </div>
                            </div>
                          </div>
                         </div>  

                        <div class="col-md-3 col-sm-6 col-xs-12">    
                          <div class="row"  style="font-weight:bold"> 
                          ESN
                        </div>
                          <div class="row">
                             <div class="ui selection dropdown col-md-10 col-sm-10 col-xs-12" id="ESN">
                              <input name="tags" type="hidden">
                              <i class="dropdown icon"></i>
                               
                              <div class="default text">Select</div>
                              <div class="menu" >
                                <div class="item" ng-repeat="options in esnData" data-value="{{options.esn}}" ng-click="PlotESN(options.esn);CaptureESN(options.esn) ">{{options.esn}}</div>
                                
                              </div>
                            </div>
                          </div>
                         </div>     

                        <div class="col-md-3 col-sm-6 col-xs-12" id="Parameter">    
                          <div class="row" style="font-weight:bold"> 
                          Parameter
                        </div>
                          <div class="row">
                           <div class="ui selection dropdown col-md-10 col-sm-10 col-xs-12" id="ParameterDropdown">
                              <input name="tags" type="hidden">
                              <i class="dropdown icon"></i>
                               
                              <div class="default text">Select</div>
                              <div class="menu" >
                            <div id="ValParameter" class="item" ng-repeat="options in parameterData" ng-model="ParameterSelected" data-value="{{options.val}}" ng-click="ChangeParameter(options.key,options.val)">{{options.val}}</div>
                                
                              </div>
                            </div>
                          </div>
                         </div> 

                      </div>
                  </div>

              </div>
            </section>

    </div>
  </div>
</div>
<div class="container-fluid content" ng-show="display4==='Show'" ng-hide="display4==='Hide'">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">

      <section class="module sidebar">

        <div class="module-body"> 
            <div class="row"> 
              <div class="col-md-12 col-sm-12 col-xs-12" style="padding-bottom:0.5%"> 
                <div style="padding-left: 15px;">

                      <div class="btn-group pull-left" id="MobileIcons">
                          <button class="btn btn-primary">Select Event</button>
                          <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><i class="icon-chevron-down"></i></button>
                               <ul class="dropdown-menu">
                            <li><a ng-click="remove()"><div style="width:18px;height:18px;background: #8DB4E2;padding-left: 20px;"> &nbsp;&nbsp;CSN</div></a></li>
                            <li><a ng-click="PlotEvent(11)"><div style="width:18px;height:18px;background: #BFBFBF;padding-left: 20px;"> &nbsp;&nbsp;Future</div></a></li>
                            <li><a ng-click="PlotEvent(0)"><img src="images/alert-triangle-red.png">Alert</a></li>
                            <li><a ng-click="PlotEvent(1)"><img src="images/Full-SV-Orange.png">Full SV</a></li>
                            <li><a ng-click="PlotEvent(2)"><img src="images/QTSV-Blue.png">QTSV</a></li>
                            <li><a ng-click="PlotEvent(3)"><img src="images/Tail-Change-Blue.png">Tail Change</a></li>
                            <li><a ng-click="PlotEvent(4)"><img src="images/Warranty-Blue.png">Warranty</a></li>
                            <li><a ng-click="PlotEvent(5)"><img src="images/WaterWash-Blue.png">Water Wash</a></li>
                            <li><a ng-click="PlotEvent(6)"><img src="images/Event-Red.png">Event</a></li>
                            <li><a ng-click="PlotEvent(7)"><img src="images/Thrust-Orange.png">Thrust Rating Change</a></li>
                            <li><a ng-click="PlotEvent(8)"><img src="images/LLP-Orange.png">LLP</a></li>
                            <li><a ng-click="PlotEvent(9)"><img src="images/CMR-Orange.png">CMR Predicted SV</a></li>
                            <li><a ng-click="PlotEvent(10)"><img src="images/ForecastedSv-Red.png">Forecasted SV</a></li>
                          </ul>
                      </div>  

                      <div ng-show="display1==='Show'"  id="MobileIcons" ng-hide="display1==='Hide'" class="btn-group btn-filter pull-left" >
                        <a class="btn"><img src="{{url}}">&nbsp;{{selecteddata}}</a>
                        <a ng-click="remove()" class="btn btn-remove"><i class="icon-remove"></i></a>
                      </div>
                      <div class="btn-group pull-right">
                        <a  class="btn btn-icon" id="FullScreen" ng-click="PlotTimeSeriesforFullScreen()" rel="tooltip" data-toggle="modal" data-target="#modal-demo"  data-title="Fullscreen" data-placement="bottom"><i class="icon-fullscreen"></i></a>
                      </div>
                </div>
               </div>
              </div>

              <div class="col-md-12 col-sm-12 col-xs-12">     

                <div ng-show="data=='!loading'"  ng-hide="data=='loading'" id="chart2" style="height:280px"></div>
                      <div ng-show="data=='loading'" ng-hide="data=='!loading'" >
                      <svg version="1.1" id="L4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 50 50" enable-background="new 0 0 0 0" xml:space="preserve" style="height:300px;">
                        <circle fill="#000000" stroke="none" cx="27" cy="20" r="2">
                          <animate
                            attributeName="opacity"
                            dur="1s"
                            values="0;1;0"
                            repeatCount="indefinite"
                           begin="0.1"/>   
                        </circle>
                        <circle fill="#000000" stroke="none" cx="37" cy="20" r="2">
                          <animate
                            attributeName="opacity"
                            dur="1s"
                            values="0;1;0"
                            repeatCount="indefinite"
                            begin="0.2"/>      
                        </circle>
                        <circle fill="#000000" stroke="none" cx="47" cy="20" r="2">
                          <animate
                            attributeName="opacity"
                            dur="1s"
                            values="0;1;0"
                            repeatCount="indefinite"
                            begin="0.3"/>    
                        </circle>
                      </svg>
                </div>
              </div>
 
              <div style="margin-bottom: 8px;margin-left:4%" id="DesktopIcons">
                <table id="legendTable" class="" style="white-space:pre-wrap;font-weight:bold">      
                    <thead>
                      <tr>
                         <td style="text-align: center;" ng-click="remove()"><div style="width:18px;height:18px;background: #8DB4E2;margin-left: 80px;margin-top: 5px;" ></div></td>
                         <td style="text-align: center;" ><div style="width:18px;height:18px;background: #BFBFBF;margin-left: 34px;margin-top: 5px;" ng-click="PlotEvent(11)"></div></td>
                         <td style="text-align: center;"><div style="margin-left: 23px;"><img src="images/alert-triangle-red.png" ng-click="PlotEvent(0)"/></div></td>
                         <td style="text-align: center;"><div style="margin-left: 24px;"><img src="images/Full-SV-Orange.png" ng-click="PlotEvent(1)"/></div></td>
                         <td style="text-align: center;"><div style="margin-left: 22px;"><img src="images/QTSV-Blue.png"/ ng-click="PlotEvent(2)"></div></td>
                         <td style="text-align: center;"><div style="margin-left: 16px;"><img src="images/Tail-Change-Blue.png" ng-click="PlotEvent(3)"/></div></td>
                         <td style="text-align: center;"><div style="margin-left: 21px;"><img src="images/Warranty-Blue.png" ng-click="PlotEvent(4)"/></div></td>
                         <td style="text-align: center;"><div style="margin-left: 18px;"><img src="images/WaterWash-Blue.png" ng-click="PlotEvent(5)"/></div></td>  
                         <td style="text-align: center;"><div style="margin-left: 18px;"><img src="images/Event-Red.png" ng-click="PlotEvent(6)"/></div></td>                 
                         <td style="text-align: center;"><div style="margin-left: 20px;"><img src="images/Thrust-Orange.png" ng-click="PlotEvent(7)"/></div></td>
                         <td style="text-align: center;"><div style="margin-left: 26px;"><img src="images/LLP-Orange.png" ng-click="PlotEvent(8)"/></div></td>
                         <td style="text-align: center;"><div style="margin-left: 25px;"><img src="images/CMR-Orange.png" ng-click="PlotEvent(9)"/></div></td>
                         <td style="text-align: center;"><div style="margin-left: 25px;"><img src="images/ForecastedSv-Red.png"ng-click="PlotEvent(10)"/></div></td>
                         <td id="parameterRowIcon" style="text-align: center;display: none;"><div style="width:18px;height:18px;background: #FA9B4E;margin-left: 33px;margin-top: 5px;" ng-click="PlotParameter()" data-toggle="modal" data-target="#modal-demo1"></div></td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                         <td style="text-align: center;vertical-align: middle;" ><div style="margin-left: 78px;" >CSN</div></td>
                         <td style="text-align: center;vertical-align: middle;"><div style="margin-left: 28px;" >Future</div></td>
                         <td style="text-align: center;vertical-align: middle;"><div style="margin-left: 19px;" >Alert</div></td>
                         <td style="text-align: center;vertical-align: middle;"><div style="margin-left: 22px;" >Full SV</div></td>
                         <td style="text-align: center;vertical-align: middle;"><div style="margin-left: 19px;" >QTSV</div></td>
                         <td style="text-align: center;vertical-align: middle;"><div style="margin-left: 22px;" >Tail Change</div></td>
                         <td style="text-align: center;vertical-align: middle;"><div style="margin-left: 16px;" >Warranty</div></td>
                         <td style="text-align: center;vertical-align: middle;"><div style="margin-left: 16px;" >Water Wash</div></td> 
                         <td style="text-align: center;vertical-align: middle;"><div style="margin-left: 13px;" >Event</div></td>     
                         <td valign="bottom" style="text-align: center;vertical-align: middle;"><div style="margin-left:24px;margin-top: 14px; " >Thrust Rating <br>Change</div></td>
                         <td style="text-align: center;vertical-align: middle;"><div style="margin-left:25px;" >LLP</div></td>
                         <td style="text-align: center;vertical-align: middle;"><div style="margin-left: 26px;margin-top: 12px;" >CMR <br>Predicted SV</div></td>            
                         <td style="text-align: center;vertical-align: middle;"><div style="margin-left:26px;" >Forecasted<br> SV</div></td>   
                         <td id="parameterRowLabel" style="text-align: center;vertical-align: middle;font-family: geInspira;display: none;"><div style="margin-left: 23px;" >{{ParameterSelected}}</div></td>
                      </tr>
                    </tbody>
                </table>  
              </div> 
              <!--For Ipad-->
              <div style="margin-bottom: 8px;" id="IpadIcons">
                <table id="legendTable" class="" style="white-space:pre-wrap; ">      
                  <thead>
                    <tr>
                      <td style="text-align: center;" ng-click="remove()"><div style="width:18px;height:18px;background: #8DB4E2;margin-left: 80px;margin-top: 5px;" ></div></td>
                      <td style="text-align: center;" ><div style="width:18px;height:18px;background: #BFBFBF;margin-left: 34px;margin-top: 5px;" ng-click="PlotEvent(11)"></div></td>
                      <td style="text-align: center;"><div style="margin-left: 23px;"><img src="images/alert-triangle-red.png" ng-click="PlotEvent(0)"/></div></td>
                      <td style="text-align: center;"><div style="margin-left: 24px;"><img src="images/Full-SV-Orange.png" ng-click="PlotEvent(1)"/></div></td>
                      <td style="text-align: center;"><div style="margin-left: 22px;"><img src="images/QTSV-Blue.png"/ ng-click="PlotEvent(2)"></div></td>
                      <td style="text-align: center;"><div style="margin-left: 16px;"><img src="images/Tail-Change-Blue.png"ng-click="PlotEvent(3)"/></div></td>
                      <td style="text-align: center;"><div style="margin-left: 21px;"><img src="images/Warranty-Blue.png" ng-click="PlotEvent(4)"/></div></td>
                      <td style="text-align: center;"><div style="margin-left: 18px;"><img src="images/WaterWash-Blue.png" ng-click="PlotEvent(5)"/></div></td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td style="text-align: center;vertical-align: middle;" ><div style="margin-left: 78px;" >CSN</div></td>
                      <td style="text-align: center;vertical-align: middle;"><div style="margin-left: 28px;" >Future</div></td>
                      <td style="text-align: center;vertical-align: middle;"><div style="margin-left: 19px;" >Alert</div></td>
                      <td style="text-align: center;vertical-align: middle;"><div style="margin-left: 22px;" >Full SV</div></td>
                      <td style="text-align: center;vertical-align: middle;"><div style="margin-left: 19px;" >QTSV</div></td>
                      <td style="text-align: center;vertical-align: middle;"><div style="margin-left: 22px;" >Tail Change</div></td>
                      <td style="text-align: center;vertical-align: middle;"><div style="margin-left: 16px;" >Warranty</div></td>
                      <td style="text-align: center;vertical-align: middle;"><div style="margin-left: 16px;" >Water Wash</div></td> 
                    </tr>
                  </tbody>
                </table>  
              </div>          
              <div style="margin-bottom: 8px;" id="IpadIcons">
                <table id="legendTable" class="" style="white-space:pre-wrap;margin-left:18% ">      
                  <thead>
                    <tr>
                      <td style="text-align: center;"><div style="margin-left: 18px;"><img src="images/Event-Red.png" ng-click="PlotEvent(6)"/></div></td>                 
                      <td style="text-align: center;"><div style="margin-left: 20px;"><img src="images/Thrust-Orange.png" ng-click="PlotEvent(7)"/></div></td>
                      <td style="text-align: center;"><div style="margin-left: 26px;"><img src="images/LLP-Orange.png" ng-click="PlotEvent(8)"/></div></td>
                      <td style="text-align: center;"><div style="margin-left: 25px;"><img src="images/CMR-Orange.png" ng-click="PlotEvent(9)"/></div></td>
                      <td style="text-align: center;"><div style="margin-left: 25px;"><img src="images/ForecastedSv-Red.png"ng-click="PlotEvent(10)"/></div></td>
                      <td id="parameterRowIcon" style="text-align: center;display: none;"><div style="width:18px;height:18px;background: #FA9B4E;margin-left: 33px;margin-top: 5px;" ng-click="PlotParameter()" data-toggle="modal" data-target="#modal-demo1"></div></td>      
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td style="text-align: center;vertical-align: middle;"><div style="margin-left: 13px;" >Event</div></td>                 
                      <td valign="bottom" style="text-align: center;vertical-align: middle;"><div style="margin-left:24px;margin-top: 14px; " >Thrust Rating <br>Change</div></td>
                      <td style="text-align: center;vertical-align: middle;"><div style="margin-left:25px;" >LLP</div></td>           
                      <td style="text-align: center;vertical-align: middle;"><div style="margin-left: 26px;margin-top: 12px;" >CMR <br>Predicted SV</div></td>    
                      <td style="text-align: center;vertical-align: middle;"><div style="margin-left:26px;" >Forecasted<br> SV</div></td>               
                      <td id="parameterRowLabel" style="text-align: center;vertical-align: middle;font-family: geInspira;display: none;"><div style="margin-left: 23px;" >{{ParameterSelected}}</div></td>  
                    </tr>
                  </tbody>
                </table>       
              </div> 
        </div>
      </section>
    </div>
  </div>
</div>




<div class="container-fluid content" ng-show="display2==='Show' " ng-hide="display2==='Hide'" style="font-weight:bold">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <section class="module sidebar" style="padding-right: 8px;">
          <div class="module-body">  
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="col-md-3 col-sm-12 col-xs-12"> 
                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-xs-12" style="padding-left: 0px;"> 
                          <table class="table table-bordered" style="border: 1px solid #000000;">
                            <thead>
                              <tr>
                         <th class="essential" colspan="2" style="background-color: #4682B4;color: white;font-weight:bold;border: 1px solid black;font-size:16px">Summary</th>  
                              </tr>                                          
                            </thead>
                              <tr>
                                <td>Current Trail</td> <td> {{summaryData[1][0].tailNumber}}</td>
                              </tr>
                              <tr>
                                <td>ESN</td> <td> {{summaryData[1][0].esn}}</td>
                              </tr>
                              <tr>
                                <td>ESN Position</td> <td> {{summaryData[1][0].esnPosition}}</td>
                              </tr>
                              <tr>
                                <td>SV Count</td> <td>{{summaryData[1][0].shopVisitCount}}</td>
                              </tr>
                              <tr>
                                <td>Customer</td> <td>{{summaryData[1][0].customerName}}</td>
                              </tr>
                              <tr>
                                <td>Service Type</td> <td>{{summaryData[1][0].serviceType}}</td>
                              </tr>
                              <tr>
                                <td>Operating Region</td> <td>Americas</td>
                              </tr>
                              <tr>
                                <td>Servicce Start Date</td> <td>{{summaryData[1][0].serviceEndDate}}</td>
                              </tr>
                              <tr>
                                <td>Service End Date</td> <td>{{summaryData[1][0].serviceEndDate}}</td>
                              </tr>
                              <tr>
                                <td>Aircraft</td> <td>{{summaryData[1][0].aircraft}}</td>
                              </tr>                                                                                           
                              <tr>
                                <td>Term</td> <td>{{summaryData[1][0].term}}</td>
                              </tr>                                                                                      
                          </table>
                        </div>
                    </div>
                  </div> 
                  <div class="col-md-4 col-sm-12 col-xs-12"> 
                      <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12" style="padding-left: 0px;">
                            <table class="table table-bordered" style="border: 1px solid #000000;">
                              <thead>
                                <tr>
                                  <th class="essential" colspan="3" style="background-color: #4682B4;color: white;font-weight:bold;border: 1px solid black;font-size:16px">Operating Parameters (Base Parameters)</th> 
                                  
                                </tr>                                            
                              </thead>
                                <tr>
                                  <td></td><td>Base</td> <td>Actual (per '16 CMR)</td>
                                </tr>
                                <tr>
                                  <td>Flight Leg</td><td>{{summaryData[2][0].flightLegBase}}</td> <td> {{summaryData[2][0].flightlegActual}}</td>
                                </tr>
                                <tr>
                                  <td>Utilization</td><td>{{summaryData[2][0].utilizationBase}}</td> <td> {{summaryData[2][0].utilizationActual}}</td>
                                </tr>
                                <tr>
                                  <td>Take-off Derate</td><td>{{summaryData[2][0].takeOffDerateBasePercent}}%</td> <td>{{summaryData[2][0].takeoffDerateActualPercent}}%</td>
                                </tr>                                
                            </table>                       
                          </div>
                      </div>
                  </div>
                  <div class="col-md-5 col-sm-12 col-xs-12">
                      <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12" style="padding-left: 0px;">
                            <table class="table table-bordered" style="border: 1px solid #000000;">
                              <thead>
                                <tr>
                                  <th class="essential" colspan="2" style="background-color: #4682B4;color: white;font-weight:bold;border: 1px solid black;font-size:16px">Last SV summary</th> 
                                  
                                </tr>                                            
                              </thead>
                                <tr>
                                  <td>SV #</td><td style="border-right: 1px solid #000000;">6.15</td> 
                                </tr>
                                <tr>
                                  <td>Removal Reason</td><td style="border-right: 1px solid #000000;">ESN</td> 
                                </tr>
                                <tr>
                                  <td>EHSLSV / ECSLSV</td><td style="border-right: 1px solid #000000;">4200.0</td>
                                </tr>
                                <tr>
                                  <td>Total Price</td><td style="border-right: 1px solid #000000;">25.5%</td>
                                </tr>  
                                <tr>
                                  <td>Total Cost</td><td style="border-right: 1px solid #000000;">25.5%</td>
                                </tr>                                                              
                            </table> 
                        </div> 
                      </div> 
                  </div>                      
              </div>
          </div>
      </section>
    </div>
  </div>
</div>

 <div class="container-fluid content" ng-show="display3==='Show'" ng-hide="display3==='Hide'">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <section class="module sidebar" style="padding-right: 8px;">
          <div class="module-body">  
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="col-md-12 col-sm-12 col-xs-12"> 
                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-xs-12" style="padding-left: 0px;"> 
                        <form class="form-search" style=''>
                            <div class="input-group input-prepend">
                              <input type="text" class="form-control search-query" ng-model="search" placeholder="Search.." style="border: 1px solid #000000;">
                              <span class="input-group-btn" >
                                <button type="submit" class="btn btn-icon" style="border: 1px solid #000000;"><i class="icon-ico_search_lg"></i></button>
                              </span>
                            </div>
                          </form>
                           <table class="table table-bordered" style="border: 1px solid #000000;">
                          <thead>
                          <tr>
                          <th style="background-color: #4682B4;color: white;font-weight:bold;border: 1px solid black;font-size:1.2rem" ng-click="sort('machineNumber')">Event ID
                          <span class="glyphicon sort-icon" ng-show="sortKey=='machineNumber'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                          </th>
                          <th  style="background-color: #4682B4;color: white;font-weight:bold;border: 1px solid black;font-size:1.2rem" ng-click="sort('model')">Event Title
                          <span class="glyphicon sort-icon" ng-show="sortKey=='model'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                          </th>
                          <th style="background-color: #4682B4;color: white;font-weight:bold;border: 1px solid black;font-size:1.2rem" ng-click="sort('errorCount')" >Event Date
                          <span class="glyphicon sort-icon" ng-show="sortKey=='errorCount'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                          </th>
                          <th style="background-color: #4682B4;color: white;font-weight:bold;border: 1px solid black;font-size:1.2rem" ng-click="sort('warCount')" >Event
                          <span class="glyphicon sort-icon" ng-show="sortKey=='warCount'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                          </th>
                          <th style="background-color: #4682B4;color: white;font-weight:bold;border: 1px solid black;font-size:1.2rem" ng-click="sort('analytics')" >CSN
                          <span class="glyphicon sort-icon" ng-show="sortKey=='analytics'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                          </th>

                          </tr>
                          </thead>
                          <tbody>
                          <tr dir-paginate="row in EventData |  filter:search | orderBy: sortKey:reverse |itemsPerPage:5" style="font-weight: bold" >
                        
                          <td style="border: 1px solid #bcbcbc;">{{row.eventID}}</td>
                          <td style="border: 1px solid #bcbcbc;">{{row.eventTitle}}</td>
                          <td style="border: 1px solid #bcbcbc;">{{row.eventDate}}</td>
                          <td style="border: 1px solid #bcbcbc;">{{row.event}}</td>
                          <td style="border: 1px solid #bcbcbc;">{{row.csn}}</td>
                          </tr>

                          </tbody>
                        </table>

                        <div style="text-align:center">
                          <dir-pagination-controls
                          max-size="5"
                          direction-links="true"
                          boundary-links="true" >
                          </dir-pagination-controls> 
                        </div>
            
                        </div>
                    </div>
                  </div>        
              </div>
          </div>
      </section>
    </div>
  </div>
</div>

<div id="modal-demo1" class="modal fade in" aria-hidden="true" >
          <div class="modal-dialog" style="height:100%;width:90%">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close " data-dismiss="modal">×</button>
                <h3 class="modal-title">{{ValueTag}}</h3>
              </div>
              <div class="modal-body" >
                <div class="row">
                  <div class="col-md-12 col-sm-10 col-xs-12">
                    <div id="chart4" style="width:80%" >
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                     <form class="form-search" style=''>
                            <div class="input-group input-prepend">
                              <input type="text" class="form-control search-query" ng-model="search" placeholder="Search.." style="border: 1px solid #000000;">
                              <span class="input-group-btn" >
                                <button type="submit" class="btn btn-icon" style="border: 1px solid #000000;"><i class="icon-ico_search_lg"></i></button>
                              </span>
                            </div>
                          </form>
                                    <table class="table table-bordered" style="border: 1px solid #bcbcbc;">
                          <thead>
                          <tr>
                         
                          <th ng-click="sort('errorCount')" >Date
                          <span class="glyphicon sort-icon" ng-show="sortKey=='errorCount'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                          </th>
                          <th ng-click="sort('analytics')" >{{ValueTag}}
                          <span class="glyphicon sort-icon" ng-show="sortKey=='analytics'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                          </th>

                          </tr>
                          </thead>
                          <tbody>
                          <tr dir-paginate="row in DataforParameterChart |  filter:search | orderBy: sortKey:reverse |itemsPerPage:5" >
                          <td style="border: 1px solid #bcbcbc;">{{row.Date}}</td>
                          <td style="border: 1px solid #bcbcbc;">{{row.y}}</td>
                          </tr>

                          </tbody>
                        </table>

                        <div style="text-align:center">
                          <dir-pagination-controls
                          max-size="5"
                          direction-links="true"
                          boundary-links="true" >
                          </dir-pagination-controls> 
                        </div>
                  </div>
            </div>
              <div class="modal-footer">
                <a class="btn btn-info" data-dismiss="modal">Close</a>
              </div>
            </div>
          </div>
        </div>
</div>
<div id="modal-demo" class="modal fade in" aria-hidden="true" >
          <div class="modal-dialog" style="height:100%;width:90%">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close " data-dismiss="modal">×</button>
                <h3 class="modal-title">Graphical Data</h3>
              </div>
              <div class="modal-body" >
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div id="chart3" style="width:88%"></div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div style="margin-bottom: 8px;margin-left:4%" id="DesktopIcons">
                      <table id="legendTable" class="" style="white-space:pre-wrap;font-weight:bold">      
                          <thead>
                            <tr>
                               <td style="text-align: center;"><div style="width:18px;height:18px;background: #8DB4E2;margin-left: 80px;margin-top: 5px;" ></div></td>
                               <td style="text-align: center;" ><div style="width:18px;height:18px;background: #BFBFBF;margin-left: 34px;margin-top: 5px;" ng-click="PlotEvent1(11)"></div></td>
                               <td style="text-align: center;"><div style="margin-left: 23px;"><img src="images/alert-triangle-red.png" ng-click="PlotEvent1(0)"/></div></td>
                               <td style="text-align: center;"><div style="margin-left: 24px;"><img src="images/Full-SV-Orange.png" ng-click="PlotEvent1(1)"/></div></td>
                               <td style="text-align: center;"><div style="margin-left: 22px;"><img src="images/QTSV-Blue.png"/ ng-click="PlotEvent1(2)"></div></td>
                               <td style="text-align: center;"><div style="margin-left: 16px;"><img src="images/Tail-Change-Blue.png" ng-click="PlotEvent1(3)"/></div></td>
                               <td style="text-align: center;"><div style="margin-left: 21px;"><img src="images/Warranty-Blue.png" ng-click="PlotEvent1(4)"/></div></td>
                               <td style="text-align: center;"><div style="margin-left: 18px;"><img src="images/WaterWash-Blue.png" ng-click="PlotEvent1(5)"/></div></td>  
                               <td style="text-align: center;"><div style="margin-left: 18px;"><img src="images/Event-Red.png" ng-click="PlotEvent1(6)"/></div></td>                 
                               <td style="text-align: center;"><div style="margin-left: 20px;"><img src="images/Thrust-Orange.png" ng-click="PlotEvent1(7)"/></div></td>
                               <td style="text-align: center;"><div style="margin-left: 26px;"><img src="images/LLP-Orange.png" ng-click="PlotEvent1(8)"/></div></td>
                               <td style="text-align: center;"><div style="margin-left: 25px;"><img src="images/CMR-Orange.png" ng-click="PlotEvent1(9)"/></div></td>
                               <td style="text-align: center;"><div style="margin-left: 25px;"><img src="images/ForecastedSv-Red.png" ng-click="PlotEvent1(10)"/></div></td>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                               <td style="text-align: center;vertical-align: middle;" ><div style="margin-left: 78px;" >CSN</div></td>
                               <td style="text-align: center;vertical-align: middle;"><div style="margin-left: 28px;" >Future</div></td>
                               <td style="text-align: center;vertical-align: middle;"><div style="margin-left: 19px;" >Alert</div></td>
                               <td style="text-align: center;vertical-align: middle;"><div style="margin-left: 22px;" >Full SV</div></td>
                               <td style="text-align: center;vertical-align: middle;"><div style="margin-left: 19px;" >QTSV</div></td>
                               <td style="text-align: center;vertical-align: middle;"><div style="margin-left: 22px;" >Tail Change</div></td>
                               <td style="text-align: center;vertical-align: middle;"><div style="margin-left: 16px;" >Warranty</div></td>
                               <td style="text-align: center;vertical-align: middle;"><div style="margin-left: 16px;" >Water Wash</div></td> 
                               <td style="text-align: center;vertical-align: middle;"><div style="margin-left: 13px;" >Event</div></td>     
                               <td valign="bottom" style="text-align: center;vertical-align: middle;"><div style="margin-left:24px;margin-top: 14px; " >Thrust Rating <br>Change</div></td>
                               <td style="text-align: center;vertical-align: middle;"><div style="margin-left:25px;" >LLP</div></td>
                               <td style="text-align: center;vertical-align: middle;"><div style="margin-left: 26px;margin-top: 12px;" >CMR <br>Predicted SV</div></td>            
                               <td style="text-align: center;vertical-align: middle;"><div style="margin-left:26px;" >Forecasted<br> SV</div></td>   
                            </tr>
                          </tbody>
                      </table>  
                    </div> 
                    <!--For Ipad-->
                    <div style="margin-bottom: 8px;" id="IpadIcons">
                      <table id="legendTable" class="" style="white-space:pre-wrap; ">      
                        <thead>
                          <tr>
                            <td style="text-align: center;"><div style="width:18px;height:18px;background: #8DB4E2;margin-left: 80px;margin-top: 5px;" ></div></td>
                            <td style="text-align: center;" ><div style="width:18px;height:18px;background: #BFBFBF;margin-left: 34px;margin-top: 5px;" ng-click="PlotEvent1(11)"></div></td>
                            <td style="text-align: center;"><div style="margin-left: 23px;"><img src="images/alert-triangle-red.png" ng-click="PlotEvent1(0)"/></div></td>
                            <td style="text-align: center;"><div style="margin-left: 24px;"><img src="images/Full-SV-Orange.png" ng-click="PlotEvent1(1)"/></div></td>
                            <td style="text-align: center;"><div style="margin-left: 22px;"><img src="images/QTSV-Blue.png"/ ng-click="PlotEvent1(2)"></div></td>
                            <td style="text-align: center;"><div style="margin-left: 16px;"><img src="images/Tail-Change-Blue.png" ng-click="PlotEvent1(3)"/></div></td>
                            <td style="text-align: center;"><div style="margin-left: 21px;"><img src="images/Warranty-Blue.png" ng-click="PlotEvent1(4)"/></div></td>
                            <td style="text-align: center;"><div style="margin-left: 18px;"><img src="images/WaterWash-Blue.png" ng-click="PlotEvent1(5)"/></div></td>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td style="text-align: center;vertical-align: middle;" ><div style="margin-left: 78px;" >CSN</div></td>
                            <td style="text-align: center;vertical-align: middle;"><div style="margin-left: 28px;" >Future</div></td>
                            <td style="text-align: center;vertical-align: middle;"><div style="margin-left: 19px;" >Alert</div></td>
                            <td style="text-align: center;vertical-align: middle;"><div style="margin-left: 22px;" >Full SV</div></td>
                            <td style="text-align: center;vertical-align: middle;"><div style="margin-left: 19px;" >QTSV</div></td>
                            <td style="text-align: center;vertical-align: middle;"><div style="margin-left: 22px;" >Tail Change</div></td>
                            <td style="text-align: center;vertical-align: middle;"><div style="margin-left: 16px;" >Warranty</div></td>
                            <td style="text-align: center;vertical-align: middle;"><div style="margin-left: 16px;" >Water Wash</div></td> 
                          </tr>
                        </tbody>
                      </table>  
                    </div>          
                    <div style="margin-bottom: 8px;" id="IpadIcons">
                      <table id="legendTable" class="" style="white-space:pre-wrap;margin-left:18% ">      
                        <thead>
                          <tr>
                            <td style="text-align: center;"><div style="margin-left: 18px;"><img src="images/Event-Red.png" ng-click="PlotEvent1(6)"/></div></td>                 
                            <td style="text-align: center;"><div style="margin-left: 20px;"><img src="images/Thrust-Orange.png" ng-click="PlotEvent1(7)"/></div></td>
                            <td style="text-align: center;"><div style="margin-left: 26px;"><img src="images/LLP-Orange.png" ng-click="PlotEvent1(8)"/></div></td>
                            <td style="text-align: center;"><div style="margin-left: 25px;"><img src="images/CMR-Orange.png" ng-click="PlotEvent1(9)"/></div></td>
                            <td style="text-align: center;"><div style="margin-left: 25px;"><img src="images/ForecastedSv-Red.png" ng-click="PlotEvent1(10)"/></div></td>     
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td style="text-align: center;vertical-align: middle;"><div style="margin-left: 13px;" >Event</div></td>                 
                            <td valign="bottom" style="text-align: center;vertical-align: middle;"><div style="margin-left:24px;margin-top: 14px; " >Thrust Rating <br>Change</div></td>
                            <td style="text-align: center;vertical-align: middle;"><div style="margin-left:25px;" >LLP</div></td>           
                            <td style="text-align: center;vertical-align: middle;"><div style="margin-left: 26px;margin-top: 12px;" >CMR <br>Predicted SV</div></td>    
                            <td style="text-align: center;vertical-align: middle;"><div style="margin-left:26px;" >Forecasted<br> SV</div></td>               
                          </tr>
                        </tbody>




                      </table>       
                    </div>                                       
                  </div>
                </div>             
              </div>
            </div>
<!--             <div class="modal-footer">
                <a class="btn btn-primary" data-dismiss="modal">Close</a>
            </div> -->
          </div>
</div>
<!-- </div> -->