<style type="text/css">
                .navbar-brand{
  float:none !important;
}
.navbar-header {
   min-height: 40px !important;
}

@media screen and (min-width: 0px) and (max-width: 650px) {
  
  #Heading{font-size:20px !important;}
  #subheading{font-size: 14px !important}
}
</style>
<nav class="navbar navbar-static-top navbar-default" role="navigation">
 
     <div class="container-fluid">
        <div class="navbar-header" style="margin-top:1%;padding-top: 0.4rem">
            <a class="navbar-brand" href=""><!-- <span class="ge-logo"></span>  --><span id="Heading" style="font-size: 22px;">Asset Life Cycle Event Viewer<small id="subheading"><i>powered by</i> Predix</small></span></a>
        </div>
    </div>
 
     <div class="primary-navbar nav-collapse" style="background-color:rgb(65, 65, 65)">
      <div class="container-fluid a">
        <ul class="nav navbar-nav" style="margin-left:0;margin-bottom:0;margin-to !important">
          <li class="active">
            <a ui-sref="Home">Home</a>
          </li>
          <li>
            <a ui-sref="AssetHealthandReliability">Asset Health and Reliability</a>
          </li>

        </ul>
      </div>
    </div>
 
</nav>

<div class="container-fluid content">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
        <center><section class="module sidebar" style="background-color: #d4d4d4;" >
            <div class="module-body"> 
                <div class="row" >
            <img class="img-responsive" src="images/ProcessFlow.png" style="max-height:530px; width:100%">
            </div>
            </div>
            </section></center>
                </div>
  </div>
</div>
